/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
  background-color: #778899;
}
html {
  font-size: 62.5%;
}
.font-style {
  color: #F5F5F5;
  font-family: "Hepta Slab", serif;
}
/* styling */
.header {
  color: #F5F5F5;
  font-family: "Hepta Slab", serif;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 2.5rem 1.5rem;
  font-style: italic;
}
.header h1 {
  font-size: 7.5rem;
  margin: 2.5rem;
}
.header h3 {
  font-size: 3rem;
}
.header div nav {
  display: flex;
  flex-direction: column;
  padding-right: 22rem;
}
.header div nav a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.page-body {
  display: flex;
  flex-direction: row-reverse;
  line-height: 2;
  color: #F5F5F5;
  font-family: "Hepta Slab", serif;
}
.page-body h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.page-body h2,
.page-body h3 {
  font-size: 2rem;
}
.page-body p {
  font-size: 1.5rem;
}
.page-body .left_side,
.page-body .right_side {
  margin: 2rem;
}
.page-body .left_side div,
.page-body .right_side div {
  padding: 1rem;
  border: 3px solid white;
}
.page-body .left_side div section,
.page-body .right_side div section {
  border-bottom: 3px dashed white;
  padding: 1.5rem;
}
.left_side {
  width: 25vw;
}
.left_side .left-content {
  height: 100%;
  align-items: stretch;
}
.left_side p {
  margin-top: 2rem;
}
.left_side .social-media {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.right_side {
  width: 75vw;
  display: flex;
  flex-direction: column;
}
.right_side .job1 {
  border-bottom: 3px dashed white;
}
